p= t('mails.devise.hello_doctor', {name: @resource.to_s})
p= t('mails.devise.reset_password.someone_has_requested_link_to_change_password')
p
  = link_to t('mails.devise.reset_password.change_password_link'), edit_password_url(@resource, reset_password_token: @token)
p= t('mails.devise.reset_password.if_you_didnt_requested')
p= t('mails.devise.reset_password.your_password_wont_change')
