p= t('mails.devise.hello_doctor', {name: @resource.to_s})
p= t('mails.devise.unlock.your_account_was_locked')
p= t('mails.devise.unlock.click_link_below_to_unlock')
p
  = link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token)
